/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070D07;
    color: #C5EFCB;
  }
  
  header {
    background-color: #217013;
    padding: 20px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #C5EFCB; /* Lighter shade of green */
  }
  
  section {
    padding: 50px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
  }
  
  .gallery img:hover {
    box-shadow: 0 0 20px #C5EFCB; /* Adding glow effect */
  }
  